

h1 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #666;
    text-align:left;
}


div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 600px; 
    gap: 10px;
    margin-bottom: 20px;
}

input {
    width: 100%; 

    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 14px; 
    box-sizing: border-box; 
}

select{
    width: 100%;
    
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 14px; 
    box-sizing: border-box; 

}

.btns{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    width: 100px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #2793d6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2793d6;
}

button.btn:hover {
    background-color: #35dc67;
}

button:hover {
    background-color: #b02a37;
}