.body-contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.body-contenido input{
    border-radius: 5px;
    text-align: center;
    border: 1px solid gray;
    margin-top: 15px;
    margin-left: 15px;
}
.body-contenido button{
    margin-top: 30px;
    border-radius: 10px;
    border: none;
    background-color: #2793d6;
    color:aliceblue;
    padding: 10px;
    margin-left: 25px;
}
.body-contenido button:hover{
    background-color: rgb(47, 106, 145);
}
